@import "fonts";
@import "mediaqueries";
* {
    font-family: 'Roboto', sans-serif;
}

body {
    .fondoasd {
        background-image: url(../media/home.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        header {
            display: flex;
            justify-content: space-between;
            height: 8vh;
            margin-top: .5rem;
            nav {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                margin-right: 1rem;
                .logo {
                    padding: .5rem;
                    margin-left: 3.5rem;
                    width: 12vw;
                }
                ul {
                    display: flex;
                    justify-content: flex-end;
                    list-style-type: none;
                    width: 100%;
                    flex-wrap: nowrap;
                    li {
                        margin-right: 3.5rem;
                        a {
                            text-decoration: none;
                            color: #ffff;
                            white-space: nowrap;
                            font-size: 1.1em;
                            font-weight: 300;
                            &:hover {
                                color: grey;
                                transition: .5s;
                            }
                        }
                        .botonContacto {
                            background: #56565B;
                            color: #FDF9F4;
                            padding: .7rem;
                            border-radius: 5%;
                            line-height: 1.1em;
                            padding-left: 1.5rem;
                            padding-right: 1.5rem;
                            font-size: 1em;
                            border: 1px solid #FDF9F4;
                        }
                    }
                }
            }
        }
    }
    .seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 48%;
        h1 {
            font-weight: 900;
            font-size: 3.4em;
            text-align: center;
            white-space: pre-line;
            margin-top: 1.5rem;
            strong {
                color: $mainOrange;
            }
            br {
                display: none;
            }
        }
        .btn {
            background-color: $mainOrange;
            border: none;
            margin-top: 5%;
            padding: .6rem;
            color: #14162A;
            font-weight: 500;
            width: 11rem;
            font-size: 20px;
            a {
                text-decoration: none;
                color: $mainBlue;
            }
        }
    }
}

#servicios {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    height: 80vh;
    margin: auto;
    .splide__arrows {
        display: none;
    }
    .splide__slide {
        width: 16rem !important;
        .card {
            img {
                height: 22vh;
            }
        }
    }
    .splide__track {
        top: -24vh;
    }
    .splide__pagination__page {
        display: none;
    }
    .contenedorCards {
        display: flex;
        justify-content: space-around;
        .card {
            position: relative;
            top: -20vh;
            height: 100%;
            min-height: 750px;
            border-radius: 2%;
            margin-bottom: 5%;
            max-height: 750px;
            overflow: scroll !important;
            img {
                height: 20vh;
                width: auto;
            }
            .card-title {
                color: #323852;
                font-size: 1.6em;
                padding: 1rem;
            }
            .card-text {
                color: rgba(109, 109, 144, .8);
                padding: 1rem;
            }
        }
    }
    .botonServicios {
        width: 13rem;
        margin: auto;
        padding: .3rem;
        background-color: $mainOrange;
        margin-bottom: 2rem;
        text-align: center;
        color: #14162A;
        font-weight: 600;
        a {
            width: 100% !important;
            font-size: 1.2em;
            font-weight: 400;
        }
    }
    p {
        color: #3E415C;
        font-weight: 700;
        font-size: 1em;
    }
}

.acercaDe {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 10%;
    .fondo {
        background-image: url(../media/acercade-xl.png);
        background-size: cover;
        height: 90vh;
        width: 60%;
        flex-basis: 60%;
        position: absolute;
    }
    .containerContenido {
        flex-basis: 40%;
        .contenido {
            margin-left: 50%;
            height: 55vh;
            width: 55%;
            background-color: #ffff;
            margin-top: 17vh;
            position: absolute;
            padding: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 2%;
            max-width: 40vw;
            img {
                height: auto;
                width: 100%;
            }
            .AD-titulo {
                color: $mainOrange;
                font-weight: bold;
                font-size: 300%;
            }
            .AD-tituloMarca {
                color: $mainBlue;
                font-weight: bold;
                font-size: 400%;
            }
            p {
                color: $mainBlue;
                font-weight: 500;
                font-size: 1.3em;
            }
        }
    }
}

.contacto {
    padding: 7%;
    width: 100%;
    .carousel {
        width: 35rem;
        height: 30rem;
        position: relative;
        box-shadow: 0px 2px 9px 0px #A8A8B94D;
        right: 30%;
        border-radius: 10px;
        .carousel-inner {
            height: 100%;
            background: $whiteBackground;
            border-radius: 10px;
            .carousel-item {
                height: 100%;
                img {
                    height: inherit;
                    margin: auto;
                    padding: 1rem;
                }
            }
        }
        .carousel-control {
            border: none;
            background: $whiteBackground;
            border-radius: 10px;
        }
    }
    .redes {
        position: relative;
        right: 28%;
        .contactanosTexto {
            color: $mainBlue;
            font-size: 3.2em;
            font-weight: 700;
            margin-top: 2.2rem;
            .contactanosTextoSpan {
                color: $mainOrange;
                font-weight: 900;
                display: block;
            }
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 10%;
            span {
                color: #3E415C;
                font-weight: 500;
                font-size: 1.3em;
                display: flex;
                align-items: center;
                .iconoRedes {
                    width: 3rem;
                }
                p {
                    font-size: initial;
                }
            }
        }
    }
    .fondoNaranja {
        background: $orangeI3;
        border-left: .5rem solid $mainOrange;
        height: 40%;
        display: flex;
        width: 65%;
        margin-left: 30%;
        padding: 2rem;
    }
}

footer {
    display: inline-block;
    padding: 1.2rem;
    background-color: $mainBlue;
    justify-content: space-between;
    .row {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .footerLogoContainer {
            margin-left: 5%;
            width: 100%;
            .logoFooter {
                width: 90%;
            }
        }
        nav {
            padding-left: 10rem;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    a {
                        text-decoration: none;
                        color: #ffff;
                        &:hover {
                            color: #A8A8B9;
                            transition: .5s;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .footerNavSpan {
            font-size: .9em;
            color: #A8A8B9;
        }
    }
}